[package]
name = "pulsebeam-cli"
license = "Apache-2.0"
publish = false
version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true

[dependencies]
tokio = { workspace = true }
tracing = { workspace = true }

pulsebeam-agent = { version = "0.1.0", path = "../pulsebeam-agent" }
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
