[package]
name = "pulsebeam-core"
version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true

[features]
default = []
sim = ["dep:turmoil", "dep:axum"]

[dependencies]
turmoil = { workspace = true, optional = true }
axum = { version = "^0.8", optional = true }
tokio = { workspace = true }
