[package]
name = "pulsebeam-agent"
license = "Apache-2.0"
publish = false
version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true

[features]
default = []
sim = ["dep:turmoil"]
# default = ["ffmpeg-static"]
#
# # Force static linking (default)
# ffmpeg-static = ["ffmpeg-next/build"]
#
# # Use dynamic linking instead
# ffmpeg-dynamic = []
#
[dependencies]
futures-lite = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
str0m = { workspace = true }
bytes = { workspace = true }
turmoil = { workspace = true, optional = true }

tokio = { workspace = true }
metrics = "0.24.3"
reqwest = "0.12.26"
maybe-async = "0.2.10"
http = "1.4.0"
tokio-stream = "0.1.17"
if-addrs = "0.14.0"

# FFmpeg integration
# ffmpeg-next = { version = "8.0.0", default-features = false, features = ["codec", "format", "filter", "software-resampling", "software-scaling"] }
