name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: sudo apt-get install -y protobuf-compiler clang nasm pkg-config
    - name: Run tests
      run: make test-all
    - name: Run simulation tests
      run: make test-sim
