name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        lfs: true
    - run: sudo apt-get install -y protobuf-compiler clang nasm pkg-config
    - name: Run tests
      run: make test
